<div ui-view> 
  <div class="container" ng-controller="viewTrickCntrl">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <div class="content-box">
          <div class="trick-user">
            <div class="trick-user-data">
              <h1 class="page-title">
                  {{post.title}}
              </h1>
              <div>
                  Submitted by <b>{{post.postedBy}} on </b>{{post.when | date:'MMMM d, y HH:mm:ss Z'}}
              </div>
            </div>
          </div>
          <pre><code class="php"><span class="comment">{{post.description}}</span><br/>{{post.text}}</code></pre>      
        </div>          
      </div>
    </div>
  </div>  
</div>
