<div ui-view> 
  <div class="container" ng-controller="viewTrickCntrl">
    <div class="row">
      <div class="col-lg-9 col-md-8">
      
        <div class="content-box" ng-show="post">
          <div class="trick-user">
            <div class="trick-user-data">
              <h1 class="page-title">
                  {{post.title}}
              </h1>
              <div>
                  Submitted by <b>{{post.postedBy}}</b> <span am-time-ago="post.when"></span>
              </div>
            </div>
          </div>
          <p>{{post.description}}</p>

          <div style="display: block" id="viewDiv">
            <div hljs no-escape source="post.text"></div>

            <div class="form-group" ng-show="!postEditMode && canEditPost()">
              <div class="text-right">

                <button type="submit" id="save-section" ng-click="showEditFields()" class="btn btn-primary ladda-button" data-style="expand-right">
                  Edit Trick
                </button>

                <button type="submit" id="save-section" ng-show="isAdmin()" ng-click="deleteTrick()" class="btn btn-primary ladda-button" data-style="expand-right">
                  Delete Trick
                </button>                
              </div>
            </div>

          </div>

          <div style="display: none" id="editDiv">
            <div class="editor" ui-ace="{ mode: 'javascript', theme: 'monokai' }" ng-model="post.text" style="margin-bottom: 5px"></div>


            <div ng-show="invalidPost" style="color: red;">{{postErrorMessage}}</div>
            <div class="form-group">
              <div class="text-right">

                <button type="submit" id="save-section" ng-click="cancelEditTrick()" class="btn btn-primary ladda-button" data-style="expand-right">
                  Cancel Edit
                </button>
                <button type="submit" id="save-section" ng-click="updateTrick()" class="btn btn-primary ladda-button" data-style="expand-right">
                  Save Trick
                </button>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-12" ng-show="!post && contentLoaded">
            <div class="alert alert-danger">
              Trick deleted
            </div>
        </div>

        <dir-disqus disqus-shortname="intellitricks"
          disqus-identifier="{{postId}}"
          disqus-url="{{url}}"
          ready-to-bind="{{ contentLoaded }}">
        </dir-disqus>
      </div>


      <div class="col-lg-3 col-md-4">
                
        <p class="text-muted text-center">Place your ads...</p>

        <div class="content-box" ng-show="post">
          <b>Stats</b>
          <ul class="list-group trick-stats">
            <a href="" ng-click="!canLike() || likeTrick()" class="list-group-item js-like-trick" data-liked="0">
              <span class="fa fa-heart"></span>
                <span class="js-like-status" ng-show="canLike()">
                  Like Trick
                </span>
              <span class="pull-right js-like-count">
                {{post.likes.length}}
              </span>
            </a>
            <li class="list-group-item">
              <span class="fa fa-eye"></span> {{post.viewed}}
            </li>
          </ul>
          <b>Categories</b>
          <ul class="nav nav-list push-down">
            <li>
              <a ui-sref="category({id: post.category.id, name: post.category.name})">{{post.category.name}}</a>
            </li>
          </ul>


          <ul class="nav nav-list push-down">
            <li>
              <a href="#" class="btn btn-info btn-lg" ng-click="twitterShare()">
                <i class="fa fa-twitter"></i> Share on Twitter
              </a>
            </li>
          </ul>

          <ul class="nav nav-list push-down">
            <li>
              <a href="#" class="btn btn-info btn-lg" ng-click="facebookShare()">
                <i class="fa fa-facebook"></i> Share on Facebook
              </a>
          </li>
          </ul>

        </div>
      </div>
    </div>

  </div>  
</div>
